<h1 align= "center" > EpiTrac </h1>

<div align= "left">
    <%= button_to "Login", "/login", method: :get %>
    <%= button_to "Create User", "users/new", method: 'get' %>
</div>

<%= render partial: '/partials/map' %>

Extra text<br>
for testing<br>
purposes