<h1 align= "center" > EpiTrac </h1>

<div align= "left">
  <% if current_user %>
    <%=button_to "Logout", '/sessions', method: :delete %>
  <% else %>
    <%= button_to "Login with Google", "/auth/google_oauth2", method: :get %>
    <%= button_to "Create User with Google", "/auth/google_oauth2", method: :get %>
  <% end %>
</div>
