<br>
<h1 align= "center" > EpiTrac </h1>
<br>
<%= render partial: '/partials/map' %>
<br>
<button class="btn btn-outline-dark" id="test_button" onclick="resetInfo('<tr><td>Click on a State Pin to Reveal Disease Data</td></tr>')">Reset</button>
<br>
<table class="table" id="info">
<tr>
<td>Click on a State Pin to Reveal Disease Data</td>
</tr>
</table>
<%= javascript_include_tag("info.js")%>
