<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EpiTrac</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about">About</a>
      <% if current_user %>
        <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-end">
        <% if current_user %>
          <%=button_to "Logout", '/sessions', method: :delete, class:"btn btn-secondary" %>
        <% else %>
          <%= button_to "Login with Google", "/auth/google_oauth2", method: :get, class:"btn btn-secondary" %>
          <%= button_to "Create User with Google", "/auth/google_oauth2", method: :get, class:"btn btn-outline-dark" %>
        <% end %>
      </div>
</nav>