<div align= "right">
    <%= link_to "Delete Account", "/dashboard", method: :delete %>
    <%= link_to "Update Account", "/dashboard", method: :patch %>
</div>

<center> <h1> User Show page </h1> </center>
