<h1 align= "center"> About EpiTrac </h1>

<h3> CDC NNDSS info </h3>
    <section id='CDC_NNDSS_info'>
        123
    </section>

<h3> Info about National Notifiable Disease Surveillance System(NNDSS)</h3>
    <section id='NNDSS_info'>
        <p>The National Notifiable Disease Surveillance System (NNDSS) is a program run by the Centers for Disease Control and Prevention (CDC) in collaboration with local, state, and federal public health centers. The program includes surveillance of notifiable infectious and noninfectious diseases. Reports are published weekly and summarized annually. Disesae reports are recieved from all 50 states, New York City, the District of Columbia, and 5 U.S. territories. This application limits data to the 50 states. </p>
        <br>
        <a href="https://www.cdc.gov/nndss/index.html">Learn More</a>
    </section>

<h3> Diseases Tracked </h3>
    <section id='Diseases_tracked'>
        789
    </section>