<h1 align= "center"> About EpiTrac </h1>

<h3> CDC NNDSS info </h3>
    <section id='CDC_NNDSS_info'>
        123
    </section>

<h3> Info about National Notifiable Disease Surveillance System(NNDSS)</h3>
    <section id='NNDSS_info'>
        456
    </section>

<h3> Diseases Tracked </h3>
    <section id='Diseases_tracked'>
        789
    </section>