.map {
  background-color: #0d1d2d;
  background-image: url("https://raw.githubusercontent.com/solodev/clickable-map-overlay/master/images/background.png");
  background-position: center;
  background-repeat: repeat;
  position: relative;
  background-attachment: fixed;
}
a.btn:before {
  font-family: FontAwesome;
  content: "\f041";
  display: inline-block;
  vertical-align: middle;
}
.map img {
  margin-top: 3%;
  margin-bottom: 2%;
  position: relative;
  z-index: 3;
}
.map button.btn.pin, .map a.btn.pin {
  z-index: 5;
  position: absolute;
  color: #ff0000;
  min-width: 0;
}
.map button.btn.pin:focus, .map a.btn.pin:focus {
  box-shadow: unset;
  outline: 0;
  border: 0;
}

.map button.btn.pin.alabama, .map a.btn.pin.alabama {
  left: 67.5%;
  top: 65%;
}

.map button.btn.pin.alaska, .map a.btn.pin.alaska {
  left: 10%;
  top: 76%;
}

.map button.btn.pin.arizona, .map a.btn.pin.arizona {
  left: 20%;
  top: 58%;
}

.map button.btn.pin.arkansas, .map a.btn.pin.arkansas {
  left: 55%;
  top: 60%;
}

.map button.btn.pin.california, .map a.btn.pin.california {
  left: 5%;
  top: 40%;
}

.map button.btn.pin.colorado, .map a.btn.pin.colorado {
  left: 32%;
  top: 43%;
}

.map button.btn.pin.connecticut, .map a.btn.pin.connecticut {
  left: 89.3%;
  top: 28%;
}

.map button.btn.pin.delaware, .map a.btn.pin.delaware {
  left: 86.2%;
  top: 39.2%;
}

.map button.btn.pin.district_of_columbia, .map a.btn.pin.district_of_columbia {
  left: 83%;
  top: 39%;
}

.map button.btn.pin.florida, .map a.btn.pin.florida {
  right: 17%;
  bottom: 14%;
}

.map button.btn.pin.georgia, .map a.btn.pin.georgia {
  left: 74%;
  top: 65%;
}

.map button.btn.pin.hawaii, .map a.btn.pin.hawaii {
  left: 30%;
  top: 87%;
}

.map button.btn.pin.idaho, .map a.btn.pin.idaho {
  left: 18%;
  top: 23%;
}

.map button.btn.pin.illinois, .map a.btn.pin.illinois {
  left: 61%;
  top: 40%;
}

.map button.btn.pin.indiana, .map a.btn.pin.indiana {
  left: 67%;
  top: 40%;
}

.map button.btn.pin.iowa, .map a.btn.pin.iowa {
  left: 54%;
  top: 34%;
}

.map button.btn.pin.kansas, .map a.btn.pin.kansas {
  left: 45%;
  top: 46%;
}

.map button.btn.pin.kentucky, .map a.btn.pin.kentucky {
  left: 70%;
  top: 48%;
}

.map button.btn.pin.louisiana, .map a.btn.pin.louisiana {
  left: 56%;
  top: 72%;
}

.map button.btn.pin.maine, .map a.btn.pin.maine {
  left: 93%;
  top: 13%;
}

.map button.btn.pin.maryland, .map a.btn.pin.maryland {
  left: 84.5%;
  top: 42%;
}

.map button.btn.pin.massachusetts, .map a.btn.pin.massachusetts {
  left: 90%;
  top: 25.3%;
}

.map button.btn.pin.michigan, .map a.btn.pin.michigan {
  left: 68%;
  top: 28%;
}

.map button.btn.pin.minnesota, .map a.btn.pin.minnesota {
  left: 52%;
  top: 19%;
}

.map button.btn.pin.mississippi, .map a.btn.pin.mississippi {
  left: 62%;
  top: 65%;
}

.map button.btn.pin.missouri, .map a.btn.pin.missouri {
  left: 56%;
  top: 47%;
}

.map button.btn.pin.montana, .map a.btn.pin.montana {
  left: 27.5%;
  top: 15%;
}

.map button.btn.pin.nebraska, .map a.btn.pin.nebraska {
  left: 43%;
  top: 36%;
}

.map button.btn.pin.nevada, .map a.btn.pin.nevada {
  left: 13%;
  top: 38%;
}

.map button.btn.pin.new_hampshire, .map a.btn.pin.new_hampshire {
  left: 90.3%;
  top: 20%;
}

.map button.btn.pin.new_jersey, .map a.btn.pin.new_jersey {
  left: 87%;
  top: 34%;
}

.map button.btn.pin.new_mexico, .map a.btn.pin.new_mexico {
  left: 30%;
  top: 59%;
}

.map button.btn.pin.new_york, .map a.btn.pin.new_york {
  left: 84.5%;
  top: 25%;
}

.map button.btn.pin.north_carolina, .map a.btn.pin.north_carolina {
  left: 81%;
  top: 53%;
}

.map button.btn.pin.north_dakota, .map a.btn.pin.north_dakota {
  left: 42%;
  top: 15%;
}

.map button.btn.pin.ohio, .map a.btn.pin.ohio {
  left: 72.5%;
  top: 38%;
}

.map button.btn.pin.oklahoma, .map a.btn.pin.oklahoma {
  left: 47%;
  top: 57%;
}

.map button.btn.pin.oregon, .map a.btn.pin.oregon {
  left: 8%;
  top: 20%;
}

.map button.btn.pin.pennsylvania, .map a.btn.pin.pennsylvania {
  left: 81%;
  top: 33%;
}

.map button.btn.pin.rhode_island, .map a.btn.pin.rhode_island {
  left: 91.5%;
  top: 27%;
}

.map button.btn.pin.south_carolina, .map a.btn.pin.south_carolina {
  left: 78.5%;
  top: 59.5%;
}

.map button.btn.pin.south_dakota, .map a.btn.pin.south_dakota {
  left: 42%;
  top: 25%;
}

.map button.btn.pin.tennessee, .map a.btn.pin.tennessee {
  left: 67.5%;
  top: 54.5%;
}

.map button.btn.pin.texas, .map a.btn.pin.texas {
  left: 43%;
  top: 70%;
}

.map button.btn.pin.utah, .map a.btn.pin.utah {
  left: 21.5%;
  top: 40.5%;
}

.map button.btn.pin.vermont, .map a.btn.pin.vermont {
  left: 88%;
  top: 20%;
}

.map button.btn.pin.virginia, .map a.btn.pin.virginia {
  left: 81%;
  top: 46%;
}

.map button.btn.pin.washington, .map a.btn.pin.washington {
  left: 11.5%;
  top: 8.5%;
}

.map button.btn.pin.west_virginia, .map a.btn.pin.west_virginia {
  left: 76.6%;
  top: 44%;
}

.map button.btn.pin.wisconsin, .map a.btn.pin.wisconsin {
  left: 59.5%;
  top: 24.5%;
}

.map button.btn.pin.wyoming, .map a.btn.pin.wyoming {
  left: 29%;
  top: 29%;
}